<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorator="layouts/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Form instances</title>
</head>
<body>
	<div layout:fragment="content">
		<table>
			<tr class="table-top">
				<td colspan="5">
					<div class="table-caption">
						<h3 th:text="${form.name}">Form name</h3>
					</div>
					<div class="top-controls right">
						<div class="button-group">
							<a th:href="@{'/instances/repos/'+ ${form.id} + '/deleteall'}"
								class="button tiny alert hollow">Delete all instances</a>
						</div>
					</div>
				</td>
			</tr>
			<tr class="table-top">
				<td colspan="5">
					<form th:action="@{'/instances/repos/' + ${form.id}}" method="POST">
						<input type="search" name="search" placeholder="Search.."
							th:value="${search}" class="animated-search-form" />
					</form>
				</td>
			</tr>
		</table>
		<div class="content">
			<div>
				<ul class="tabs" data-tabs="true" id="fi-tabs">
					<li class="tabs-title is-active"><a aria-selected="true"
						href="#fi-list">List</a></li>
					<li class="tabs-title"><a href="#fi-map">Map of <i
							th:text="${form.name}">Form name</i> locations
					</a></li>
				</ul>
			</div>

			<div class="tabs-content" data-tabs-content="fi-tabs">
				<div class="tabs-panel is-active" id="fi-list">
					<table class="hover stack unstriped" id="list" role="grid"
						th:if="${!instances.isEmpty()}">
						<thead>
							<tr>
								<th>Display</th>
								<th>Submitted by</th>
								<th>Last update</th>
								<th>Form instance data</th>
								<th>Manage this instance</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="e : ${instances}">
								<tr>
									<td class="td-topvalign" th:text="${e.name}"></td>
									<td class="td-topvalign" th:text="${e.recordedBy.username}"></td>
									<td class="td-topvalign"
										th:text="${#dates.format(e.lastUpdate, 'dd-MM-yyyy HH:mm')}"></td>
									<td class="td-topvalign">
										<div class="topinfo">
											<span style="white-space: nowrap;"><i
												th:text="${e.uuid}"></i>
												<button style="float: right;" th:attr="data-uuid=${e.uuid}"
													class="expclp-btn button tiny hollow">View</button></span><input
												th:id="${'json-'+e.uuid}" th:value="${e.json}" type="hidden" />
												<input
												th:id="${'name-'+e.uuid}" th:value="${e.name}" type="hidden" />
											<ul th:id="${e.uuid}" class="data-ui">

											</ul>
										</div>
									</td>
									<td class="td-topvalign"><a
										th:href="@{'/forms/instance/delete/' + ${e.id}}"
										class="button small hollow alert">Delete</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<div class="empty" th:if="${instances.isEmpty()}">
						<i>No data found</i>
					</div>
				</div>

				<div class="tabs-panel" id="fi-map">
					<i>The map here...</i>
					<div id="themap"></div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
